name: Build

on:
  push

jobs:
  build:

    runs-on: windows-2025-vs2026

    strategy:
      matrix:
        architecture: [ x86, x64, ARM64 ]
        configuration: [ Debug, Release ]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Build
        run: msbuild -restore -p:RestorePackagesConfig=true -p:Configuration=${{ matrix.configuration }} -p:Platform=${{ matrix.architecture }} -clp:ForceConsoleColor -warnaserror ${{ github.workspace }}\IExplorerCommand_Examples.slnx
